langchain
langchain-community
langchain-experimental
langchain_google_community[places]
langchain_tavily
langchain_groq
langchain_openai
langgraph

streamlit
python-dotenv
pydantic
httpx
requests
openai

tqdm
rich
aiohttp
loguru

fastapi
uvicorn
pandas
